[submodule "3rd_party/Box2D"]
	path = 3rd_party/Box2D
	url = https://github.com/tobanteGaming/Box2D-cmake.git
[submodule "3rd_party/SFML"]
	path = 3rd_party/SFML
	url = git@github.com:SFML/SFML.git
[submodule "3rd_party/Hypodermic"]
	path = 3rd_party/Hypodermic
	url = https://github.com/chapterjason/Hypodermic-cmake.git
[submodule "3rd_party/YAML"]
	path = 3rd_party/YAML
	url = git@github.com:jbeder/yaml-cpp.git
